@media (min-width: 800px) {
  .top-nav {
    position: static;
    display: block;
    transform: none;
  }

  .top-nav ul {
    flex-direction: row;
    justify-content: space-evenly;
    border-style: none;
  }

  .top-nav ul li {
    font-size: 1.3rem;
  }

  .menu-closer,
  .menu {
    display: none;
  }

  /*index*/

  .home__projects {
    max-width: 100%;
  }

  .home__about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    max-width: 100%;
    column-gap: 30px;
  }

  .home__about-me h2 {
    grid-row: 1/2;
    grid-column: 1/-1;
    justify-self: center;
  }

  .about-me__img-wrapper {
    grid-column: 1/2;
    grid-row: 2;
    width: 350px;
    justify-self: end;
  }

  /*index cards*/

  .cards {
    flex-direction: row;
    justify-content: center;
  }

  .card {
    width: 100%;
  }
}
