@import "../css/imports/variables.css";

body {
  margin: 0px;
  height: 100vh;
}

.site-container {
  background-color: var(--color-dark);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.top-nav {
  border-style: solid;
  border-color: red;
  display: none;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ .top-nav {
  display: block;
}

.menu-label {
  margin: 15px;
  display: flex;
  justify-content: flex-end;
}

.menu-label img {
  height: 100%;
  width: 60px;
}

.top-nav ul {
  display: flex;
  justify-content: space-evenly;
}

.top-nav ul li {
  font-family: var(--text-heading);
  font-weight: 700;
  list-style: none;
}

.top-nav a {
  color: var(--color-white);
  text-decoration: none;
}

.github {
  display: flex;
  gap: 5px;
  align-items: center;
}

.github__img {
  height: 20px;
}

.github img {
  height: 100%;
  width: 100%;
}

.main-home {
  border-style: solid;
  border-color: green;
  flex-grow: 1;
}

footer {
  border-style: solid;
  border-color: pink;
}

h1 {
  color: var(--color-white);
  font-family: var(--text-heading), verdana, arial, "nirmala ui";
}

p {
  color: var(--color-white);
  font-family: var(--text-paragraph), Cambria, Cochin, Georgia;
}
