:root {
  --text-heading: "poppins";
  --text-paragraph: "Anonymous Pro";
  --color-dark: #101d30;
  --color-purple: #311e63;
  --color-white: #fff;
  --color-black: #000000;
  --color-coral: #33fff1;
  --color-orange: #ff5c0a;
  --color-yellow: #ffeb0a;
}
